#score{
    display: flex;
    min-height: 100px;
    min-width: 100px;
    margin: 20px;
}

.startScreen{
    display: flex;
    position: relative;
    left: 250px;
}
.startScreen h1{
    position: relative;
    bottom: 125px;
    left: 50px;
    align-items: center;
}

.startScreen button{
    height: 50px;
    width: 150px;
}

#timer{
display: block;

}

.startScreen{
display: flex;
/* justify-content: center; */
}

#quizArray{
    /* display: none; */
    height: 50px;
    width: 500px;
    padding: 30px;
}
#quizArray.button{
    height: 50px;
    background-color: pink;
}

